.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
.show_bills{
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.example-form{
  margin-top: 3%;
}

.text_one{
  text-align: center;
  font-size: 20px;
  margin-top: 5%;
}

.generatebtns{
  margin-bottom: 3%;
}

.top{
  display: flex;
  justify-content: flex-end;
  margin-left: 80%;
}
.top button{
   /* margin-bottom: 2%; */
}
.bill-box{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  height: 30vh;
  width: 45vh;
  background-color: #dfcdcd;
}
.bill-box h1{
  margin-bottom: 1%
}
