<app-navbar></app-navbar>
<app-headings [parentData]="title"></app-headings>
<div class="main_grid">
  <div class="top">
    <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" routerLink="/loadedvehicle">Click here for loaded vehicle bill</button>
  </div>
<div class="left">
  <form class="example-form" [formGroup]="emptyvechiclebill"  #formDirective="ngForm" novalidate>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput id="name" formControlName="date"  placeholder="dd/mm/yyyy">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Vehicle number</mat-label>
      <input matInput id="name" formControlName="vehicleNumber"  placeholder="Vehicle Number">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput id="name" formControlName="customerName"  placeholder="Customer Name">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Customer type</mat-label>
      <mat-select formControlName="customerType">
        <mat-option *ngFor="let type of allCustomers" [value]="type.name">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Empty vehicle weight</mat-label>
      <input matInput id="name" formControlName="weight"  placeholder="Weight">
    </mat-form-field>

    <div class="camera">
        <div class="cam camera1">
          <video #video1 class="vid" autoplay></video>
          <div class="cam_btn">
            <button mat-flat-button color="primary">Capture</button>
          </div>
        </div>
        <div class="cam camera2">
          <video #video2 class="vid" autoplay></video>
          <div class="cam_btn">
            <button mat-flat-button color="primary">Capture</button>
          </div>
        </div>
        <div class="cam camera3">
          <video #video3 class="vid" autoplay></video>
          <div class="cam_btn">
            <button mat-flat-button color="primary">Capture</button>
          </div>
        </div>
    </div>

    <div class="btn">
    <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" type="submit" [disabled]="!emptyvechiclebill.valid" (click)="submitBill(emptyvechiclebill,formDirective)">Submit bill</button>
    <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" (click)="clearDetails()" [disabled]="true">Clear details</button>
    </div>
  </form>
</div>

</div>
