<app-navbar></app-navbar>
<app-headings [parentData]="title"></app-headings>
<div class="main_grid">
<div class="left">
  <form class="example-form" [formGroup]="emptyvechiclebill" novalidate>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput id="name" [matDatepicker]="picker" formControlName="date"  placeholder="dd/mm/yyyy">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Ticket number</mat-label>
      <input matInput id="name" formControlName="ticketNumber"  placeholder="Ticket Number">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Vehicle number</mat-label>
      <input matInput id="name" formControlName="vehicleNumber"  placeholder="Vehicle Number">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput id="name" formControlName="customerName"  placeholder="Customer Name">
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Customer type</mat-label>
      <mat-select formControlName="customerType">
        <mat-option *ngFor="let type of customerTypeValues" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width-one" appearance="outline">
      <mat-label>Empty vehicle weight</mat-label>
      <input matInput id="name" formControlName="weight"  placeholder="Weight">
    </mat-form-field>

    <div class="btn">
    <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" type="submit" [disabled]="!emptyvechiclebill.valid" (click)="submitBill()">Submit bill</button>
    <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" (click)="clearDetails()">Clear details</button>
    </div>
  </form>
</div>
<div class="right">

</div>
</div>
