.main_grid{
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 3%;
}
.left{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.example-full-width-one {
  width: 30% !important;
  margin-bottom: 20px;
  padding: 12px;
}
.btn{
  margin-left: 1%;
}
.submit{
  margin-right: 2%;
}
.top{
  display: flex;
  justify-content: flex-end;
}
.top button{
  margin-right: 9.2%;
  margin-bottom: 2%;
}
.camera{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.cam{
  background-color: #e0c7c7;
  height: 31vh;
  width: 40vh;
  margin-right: 2%;
}
.camera1{

}
.cam_btn{
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: center;
}
.print_main{
  text-align: center;
}
#global{
  margin-left: 1%;
  margin-bottom: 2%;
}
.btn1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_ic{
  margin-top: 5%;
  margin-right: 3%;
}
