<mat-toolbar class="navbar" color="primary">
  <span>
    <button mat-button [matMenuTriggerFor]="menu" class="sub_menu">Generate bill</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/emptyvehicle">Empty Vehicle</button>
      <button mat-menu-item routerLink="/loadedvehicle">Loaded Vehicle</button>
    </mat-menu>
  </span>
  <span class="sub_menu" routerLink="/viewBills">View bills</span>

  <span class="sub_menu" routerLink="/item" *ngIf="this.isAdmin">Items</span>
  <span class="sub_menu" routerLink="/customertype" *ngIf="this.isAdmin">Add discounts</span>
  <span class="sub_menu" routerLink="/addcustomertype" *ngIf="this.isAdmin">Add customertype</span>
  <span class="sub_menu" routerLink="/addUser" *ngIf="this.isAdmin">Add users</span>

</mat-toolbar>
