.main{
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
}
.example-container {
  height: 270px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.btns{
  display: flex;
  justify-content: flex-end;
}

.btns button{
  margin-right: 2%;
  margin-bottom: 3%;
}

.search{
  margin-top: 1%;
  margin-left: 2%;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
}
